<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.NewsMapper">
  <resultMap id="BaseResultMap" type="com.itheima.entity.News">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="newTitle" jdbcType="VARCHAR" property="newtitle" />
    <result column="newBody" jdbcType="VARCHAR" property="newbody" />
    <result column="click" jdbcType="INTEGER" property="click" />
    <result column="releaseTime" jdbcType="VARCHAR" property="releasetime" />
    <result column="newImg" jdbcType="VARCHAR" property="newimg" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, newTitle, newBody, click, releaseTime, newImg
  </sql>
  <select id="selectByExample" parameterType="com.itheima.entity.NewsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from news
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.itheima.entity.NewsExample">
    delete from news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itheima.entity.News">
    insert into news (id, newTitle, newBody, 
      click, releaseTime, newImg
      )
    values (#{id,jdbcType=INTEGER}, #{newtitle,jdbcType=VARCHAR}, #{newbody,jdbcType=VARCHAR}, 
      #{click,jdbcType=INTEGER}, #{releasetime,jdbcType=VARCHAR}, #{newimg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.itheima.entity.News">
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="newtitle != null">
        newTitle,
      </if>
      <if test="newbody != null">
        newBody,
      </if>
      <if test="click != null">
        click,
      </if>
      <if test="releasetime != null">
        releaseTime,
      </if>
      <if test="newimg != null">
        newImg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="newtitle != null">
        #{newtitle,jdbcType=VARCHAR},
      </if>
      <if test="newbody != null">
        #{newbody,jdbcType=VARCHAR},
      </if>
      <if test="click != null">
        #{click,jdbcType=INTEGER},
      </if>
      <if test="releasetime != null">
        #{releasetime,jdbcType=VARCHAR},
      </if>
      <if test="newimg != null">
        #{newimg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itheima.entity.NewsExample" resultType="java.lang.Long">
    select count(*) from news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update news
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.newtitle != null">
        newTitle = #{record.newtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.newbody != null">
        newBody = #{record.newbody,jdbcType=VARCHAR},
      </if>
      <if test="record.click != null">
        click = #{record.click,jdbcType=INTEGER},
      </if>
      <if test="record.releasetime != null">
        releaseTime = #{record.releasetime,jdbcType=VARCHAR},
      </if>
      <if test="record.newimg != null">
        newImg = #{record.newimg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update news
    set id = #{record.id,jdbcType=INTEGER},
      newTitle = #{record.newtitle,jdbcType=VARCHAR},
      newBody = #{record.newbody,jdbcType=VARCHAR},
      click = #{record.click,jdbcType=INTEGER},
      releaseTime = #{record.releasetime,jdbcType=VARCHAR},
      newImg = #{record.newimg,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itheima.entity.News">
    update news
    <set>
      <if test="newtitle != null">
        newTitle = #{newtitle,jdbcType=VARCHAR},
      </if>
      <if test="newbody != null">
        newBody = #{newbody,jdbcType=VARCHAR},
      </if>
      <if test="click != null">
        click = #{click,jdbcType=INTEGER},
      </if>
      <if test="releasetime != null">
        releaseTime = #{releasetime,jdbcType=VARCHAR},
      </if>
      <if test="newimg != null">
        newImg = #{newimg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itheima.entity.News">
    update news
    set newTitle = #{newtitle,jdbcType=VARCHAR},
      newBody = #{newbody,jdbcType=VARCHAR},
      click = #{click,jdbcType=INTEGER},
      releaseTime = #{releasetime,jdbcType=VARCHAR},
      newImg = #{newimg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>